aioredis==1.3.1
amqp==1.4.9
anyjson==0.3.3
asgiref==3.3.4
async-timeout==3.0.1
attrs==21.2.0
autobahn==21.3.1
Automat==20.2.0
backcall==0.2.0
billiard==3.3.0.23
celery==3.1.26.post2
certifi==2020.12.5
cffi==1.14.5
channels==3.0.3
channels-redis==3.2.0
chardet==4.0.0
colorama==0.4.4
constantly==15.1.0
cryptography==3.4.7
daphne==3.0.2
decorator==5.0.8
Django==3.2.4
django-celery==3.3.1
hiredis==2.0.0
hyperlink==21.0.0
idna==2.10
incremental==21.3.0
ipykernel==5.5.5
ipython==7.23.1
ipython-genutils==0.2.0
jedi==0.18.0
jupyter-client==6.1.12
jupyter-core==4.7.1
kombu==3.0.37
matplotlib-inline==0.1.2
msgpack==1.0.2
nest-asyncio==1.5.1
parso==0.8.2
pickleshare==0.7.5
prompt-toolkit==3.0.18
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
Pygments==2.9.0
pyOpenSSL==20.0.1
python-dateutil==2.8.1
pytz==2021.1
pywin32==300; sys_platform == \'win32\'
pyzmq==22.0.3
requests==2.25.1
service-identity==21.1.0
six==1.16.0
sqlparse==0.4.1
tornado==6.1
traitlets==5.0.5
Twisted==21.2.0
twisted-iocpsupport==1.0.1
txaio==21.2.1
urllib3==1.26.4
wcwidth==0.2.5
zope.interface==5.4.0
